<!DOCTYPE html>
<html>
<head>
<body>
<form action="/test" method="POST">   
    name: <input type="text" name="name">
    job:  <input type="text" name="job">
<button type="submit">
    Register Contact
</button>
</form>
</body>
</html>